{% extends 'base.html.twig' %}

{% block title %}Nuevo Artista{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Nuevo Artista</h1>
    
    {{ include('artistas/_form.html.twig') }}

    <a href="{{ path('app_artistas_index') }}" class="btn btn-danger">Volver<i class="material-icons">&#xe5c4;</i></a>
</div>
{% endblock %}
