{% extends 'base.html.twig' %}
{% block title %}SYMFONYTICKETS
{% endblock %}

{% block body %}

    <div class="col-8 offset-2 pt-5">
    <div class="card bg-dark text-white" style="border-radius: 1rem;">
	    <div class="card-body p-5">
            <div class="container text-white">
                {# <p class="fw-3 fw-semibold"> Lorem ipsum dolor <p> #}
                <h4 class="text-info">Victor Tribaldos Martín</h4>
                <p> Desarrollador junior en Telefónica ( FP DUAL)
                Ceo, también llamado Polos, era el titán de la inteligencia. Hijo de Urano y Gea y esposo de Febe.

Con su esposa fueron portavoces de sus padres en cuanto a los dones proféticos, siendo Ceo de la sabiduría de Urano y Febe la de Gea.</p>
                 <h4 class="text-info">Miguel Velasco Martín</h4>
                 <p> Desarrollador junior en View Next ( FP DUAL)
                 Ceo, también llamado Polos, era el titán de la inteligencia. Hijo de Urano y Gea y esposo de Febe.

Con su esposa fueron portavoces de sus padres en cuanto a los dones proféticos, siendo Ceo de la sabiduría de Urano y Febe la de Gea.</p>
                 <h4 class="text-info">Jaime Martín Narro</h4>
                 <p> Estudiante en 42 Madrid (Fundación Telefónica) y Desarrollador junior en Telefónica ( FP DUAL)
                 Ceo, también llamado Polos, era el titán de la inteligencia. Hijo de Urano y Gea y esposo de Febe.

Con su esposa fueron portavoces de sus padres en cuanto a los dones proféticos, siendo Ceo de la sabiduría de Urano y Febe la de Gea.</p>
            </div>
        </div>
        </div>
    </div>

{% endblock %}