{% extends 'base.html.twig' %}
{% block title %}SYMFONYTICKETS
{% endblock %}

{% block body %}
<div class="container fluid mt-5">
<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="validationCustom01" value="Pepe" required>
    <div class="valid-feedback">
      Muy bonito!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Apellidos</label>
    <input type="text" class="form-control" id="validationCustom02" value="Viyuela" required>
    <div class="valid-feedback">
      Guapardo!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomEmail" class="form-label">Correo Electrónico</label>
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="mail" class="form-control" id="validationCustomEmail" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Porfa pon un mail válido.
      </div>
    </div>
  </div>
  {# <div class="col-md-3">
    <label for="validationCustom04" class="form-label">País</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Elige...</option>
      <option>Españita</option>
      <option>Otro</option>
      <option>Marte(planeta)</option>
      <option>La Luna</option>
    </select>
    <div class="invalid-feedback">
      Elige un lugar válido.
    </div>
  </div> #}
  <div class="col-8">
    <label for="validationCustom03" class="form-label">¿Porque nos contactas?</label>
    <textarea type="text" class="form-control" id="validationCustom03" rows="4" required></textarea>
    <div class="valid-feedback">
      Guapardo!
    </div>
    
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
       ¿ Aceptas los términos y condiciones de uso ?
      </label>
      <div class="invalid-feedback">
        Acepta los terminos y condiciones por favor.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Enviar solicitud de contacto</button>
  </div>
  <div class="contact100-more flex-col-c-m" style="background-image: url('images/leon.jpg');">
				<div class="flex-w size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-map-marker"></span>
					</div>

          

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Dirección
						</span>

						<span class="txt3">
							<li><a href="https://goo.gl/maps/o6md3reUF1XYY3X9A">C/ Julian Camarillo, 66, Madrid, España</a></li>
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-phone-handset"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							LLámanos (de Lunes a Viernes de 6:00pm a 6:06pm)
						</span>

						<span class="txt3">
							+66 123456789
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-envelope"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Soporte General
						</span>

						<span class="txt3">
							contacto@SYMFONYTICKETS.com
						</span>
					</div>
				</div>
</form>
</div>

{% endblock %}