{% extends 'base.html.twig' %}

{% block title %}SYMFONYTICKETS
{% endblock %}

{% block body %}

	<div class="container" align="center">
		<h1>Bienvenido a <br> <strong>--SYMFONYTICKETS--</strong></h1>
	</div>
	
  </head>

  <hr class="featurette-divider">

  <body>
<main>

<hr class="featurette-divider">

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
		<img class="img-fluid opacity-75 d-block w-100" src="../images/concierto1.jpg" alt="concierto1.jpg">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>COMPRA TUS ENTRADAS.</h1>
            <p>No esperes más y cómpralas antes de que se acaben!!!</p>
            <p><a class="btn btn-lg btn-primary" href="../buy">COMPRAR</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-fluid opacity-75 d-block w-100" src="../images/concierto2.jpg" alt="concierto2.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>MIRA LOS PRÓXIMOS EVENTOS</h1>
            <p>Elige el que más te guste, hay para todos!!!</p>
            <p><a class="btn btn-lg btn-primary" href="../calendar">PRÓXIMOS EVENTOS</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-fluid opacity-75 d-block w-100" src="../images/concierto3.jpg" alt="concierto3.jpg">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>CONTACTA CON NOSOTROS</h1>
            <p>No dudes en contactarnos para escuchar tus dudas y sugerencias !!!</p>
            <p><a class="btn btn-lg btn-primary" href="../contact">SOLICITUD DE CONTACTO</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

<hr class="featurette-divider">

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4" align="center">
        <img class="rounded" width="180" height="140" src="../images/carrito.png" alt="Tickets">

        <h2>Compra tus entradas</h2>
        <p>No esperes más y cómpralas antes de que se acaben!!!</p>
        <p><a class="btn btn-primary" href="/buy">Comprar Entradas &raquo;</a></p>
      </div>
      <div class="col-lg-4" align="center">   
		<img class="rounded" width="180" height="140" src="../images/Correo.png" alt="Correo">

        <h2>Contacta con Nosotros</h2>
        <p>No dudes en contactarnos para escuchar tus dudas y sugerencias !!!</p>
        <p><a class="btn btn-primary" href="/contact">Contacto &raquo;</a></p>
      </div>
      <div class="col-lg-4" align="center">
        <img class="rounded" width="180" height="140" src="../images/Calendario.png" alt="Eventos">

        <h2>Calendario de Eventos</h2>
        <p>Elige el que más te guste, hay para todos los gustos de la galaxia!!</p>
        <p><a class="btn btn-primary" href="/calendar">Eventos &raquo;</a></p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">METALLICA <span class="text-muted">Te volará la cabeza.</span></h2>
        <p class="lead">Un grupo con historia que te hará saltar sin parar</p>
      </div>
      <div class="col-md-5">
        <img class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../images/concierto4.jpg" alt="concierto1.jpg"></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">DADDY YANKEE <span class="text-muted">El rey del barrio.</span></h2>
        <p class="lead">Prepárate para el perreo más intenso hasta el suelo y la adrenalina hasta el cielo</p>
      </div>
      <div class="col-md-5 order-md-1">
       <img class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../images/concierto5.jpg" alt="concierto3.jpg"></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">LUCIANO PAVAROTTI <span class="text-muted">La voz de Dios.</span></h2>
        <p class="lead">Incomparable actuación para deleitar a tus oídos con la ópera italiana más grande.</p>
      </div>
      <div class="col-md-5">
        <img class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../images/concierto6.jpg" alt="concierto3.jpg"></img>

      </div>
    </div>

    <hr class="featurette-divider">
  </div>
</main>
  </body>
</html>

{% endblock %}
