{% extends 'base.html.twig' %}

{% block title %}SYMFONYTICKETS
{% endblock %}

{% block body %}

	<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">

			<div class="carousel-item active">

				<div class="row p-5">
					<div class="w-100">
						<img class="img-fluid opacity-75 d-block w-100" src="../images/concierto1.jpg" alt="concierto1.jpg">

						<div class="carousel-caption text-align-left align-self-center">
							<h1>
								<img src="../images/symfony.png" alt="" width="100" height="100">
								<img src="../images/Tickets_logo.png" alt="" width="135" height="100">
							</h1>
							<h1 class="h1 text-black">

								<b>MELENDI</b>
							</h1>
							<h3 class="h2 text-white">Cantará con nosotros sus temas clásicos y nuevos
							</h3>
							<p></p>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">

				<div class="row p-5">
					<div class="w-100">
						<img class="img-fluid opacity-75 d-block w-100" src="../images/concierto2.jpg" alt="concierto2.jpg">

						<div class="carousel-caption text-align-left align-self-center">
							<h1>
								<img src="../images/symfony.png" alt="" width="100" height="100">
								<img src="../images/Tickets_logo.png" alt="" width="135" height="100">
							</h1>
							<h1 class="h1 text-white">

								<b>MICHAEL JACKSON</b>
							</h1>
							<h3 class="h2 text-white">¡¡¡VUELVE EL REY DEL POP!!!
							</h3>
							<p></p>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">

				<div class="row p-5">
					<div class="w-100">
						<img class="img-fluid opacity-75 d-block w-100" src="../images/concierto3.jpg" alt="concierto3.jpg">

						<div class="carousel-caption text-align-left align-self-center">
							<h1>
								<img src="../images/symfony.png" alt="" width="100" height="100">
								<img src="../images/Tickets_logo.png" alt="" width="135" height="100">
							</h1>
							<h1 class="h1 text-black">

								<b>METALLICA</b>
							</h1>
							<h3 class="h2 text-white">Nos darán un concierto de lo más rockero
							</h3>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<p></p>
	<p></p>
	<div class="container" align="center">
		<h3>SI TE GUSTA ALGUNO DE ESTOS EVENTOS...</h3>
		<h2>↘ ⬇  ↙</h2>
		<p>
			<button type="button" class="btn btn-default btn-sm text-danger btn-outline-dark rounded-pill">
				<h2>
					<i class="fa-solid fa-cart-arrow-down"></i>
				</h2>
				<h5>
					<b>COMPRA TUS ENTRADAS YA!!!</b>
				</h5>
				<h2>
					<i class="fa-solid fa-ticket"></i>
				</h2>
			</button>
		</p>
	</div>
{% endblock %}
