{% extends 'base.html.twig' %}
{% block title %}SYMFONYTICKETS
{% endblock %}

{% block body %}
	{# 
	<div class="container"> #}

	<div class="col-8 offset-2 pt-5">
		<div class="card bg-dark text-white" style="border-radius: 1rem;">
			<div class="card-body p-5">
				<div
					class="container text-white">
					{# <p class="fw-3 fw-semibold"> Lorem ipsum dolor <p> #}
					<h4 class="text-info">Política sobre Derechos de Autor</h4>
					<p>Retiraremos los derechos como usuario de la web a cualquier usuario
						                 que utilice esta Web para la transmisión ilegal de material protegido por 
						                 derechos de autor sin contar para ello con licencia, consentimiento expreso,
						                causa válida o exención por uso legítimo. En concreto, los usuarios que envíen
						                Contenido a esta Web, ya se trate de artículos, imágenes, relatos, software
						                u otro material susceptible de quedar protegido por derechos de autor, deberán
						                asegurarse de que el Contenido que suban no infringe los derechos de autor u 
						                otros derechos de terceros (como por ejemplo, derechos a la intimidad o públicos).
						                Una vez recibidas por nosotros una notificación fehaciente por parte del titular
						                de los derechos de autor o su agente, y una confirmación a través de una providencia
						                judicial o reconocimiento por parte del usuario en el sentido de que
						                has utilizado esta Web como instrumento para cometer una infracción legal,
						                daremos por finalizados los derechos de los usuarios infractores para usar
						                y/o acceder a esta Web. Asimismo, podremos, siguiendo nuestro criterio
						                discrecional, optar por dar por finalizados los derechos de un usuario 
						                a usar o acceder a la Web antes de ese momento si entendemos que se ha 
						                producido la supuesta infracción.

					</p>

                    					<h4 class="text-info"> Uso No Autorizado de la Web</h4>
					<p>

Se investigará el uso ilegal y/o no autorizado de la Web, incluso, sin que esta relación tenga carácter exhaustivo, mediante ventas no autorizadas de entradas, el uso de la técnica de enmarcar o fijar enlaces no autorizados desde la Web o a la Web, o el uso no autorizado de cualquier robot u otro dispositivo automatizado en la web, iniciándose las actuaciones judiciales correspondientes, incluidas, sin que esta relación tenga carácter exhaustivo, las de naturaleza civil, penal y preventivo.
					</p>
				</div>
			</div>
		</div>
	</div>

	{# </div> #}

{% endblock %}
