{% extends 'base.html.twig' %}

{% block title %}New Eventos{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Nuevo Evento</h1>

    {{ include('eventos/_form.html.twig') }}

    <a href="{{ path('app_eventos_index') }}" class="btn btn-danger">Volver<i class="material-icons">&#xe5c4;</i></a>
</div>
{% endblock %}
